@charset "utf-8";
/* CSS Document */

/* ---iphoneX用--- */
@media screen and (max-width: 480px){
.pc{display: none;}
.sp{display: inherit;}
body{font-size: 12px;}

h2 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 40px;
  line-height: 36px;
} 
.btn_01{
  background: url("../img/arrow_w.svg")no-repeat right 8px center #CF4267;
}
.btn_02{
  background: url("../img/arrow_w.svg")no-repeat right 8px center #825D01;
}
.btn{
  background: url("../img/arrow_w.svg")no-repeat right 8px center #7C213D;
}
.btn_01:hover,
.btn_02:hover,
.btn:hover{
  background-position: right 3px center;
  background-color:#D95175;
}
.btn_02:hover{background-color:#A27300;}
.btn:hover{background-color:#9E2E50;}
/* ---header--- */
header {
  height: 50px;
}
.logo{
  margin-left: 0;
  text-align: center;
}
.logo p{
  line-height: 50px;
}
.logo p img{
  width: 140px;
  margin: 0;
  display: initial;
  vertical-align: middle;
}

/* menuボタン */
.menu {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  text-align: center;
}
.menu span {
  display: block;
  position: absolute;    /* .menuに対して */
  width: 30px;
  border-bottom: solid 3px #eee;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 10px;
}
.menu span:nth-child(1) {top: 13px;}
.menu span:nth-child(2) {top: 24px;}
.menu span:nth-child(3) {top: 35px;}

.menu.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
  top: 10px;
}
.menu.active span:nth-of-type(2) {opacity: 0;}
.menu.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}
/* menu*/
nav.menu_open {
  position: fixed;
  right: -100%;
  top: 49px;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 300ms ease 0.25s;
  visibility: hidden;
  z-index: 999;
  background: #fff;
}
nav.menu_open.active {
  right: 0;
  visibility: visible;
}
nav.menu_open .cvarea,
header .cvarea_bottom{
  background: #191919;
  color: #fff;
  text-align: center;
  padding: 20px;
}
header .cvarea_bottom{
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 90%;
}
nav.menu_open .cvarea a{color: #fff;}
nav.menu_open .cvarea p{
    padding: 15px 0;
    background: url(../img/arrow_w.svg)no-repeat right 8px center;
    display: inherit;
    width: 200px;
    margin: 0 auto;
}
nav.menu_open .cvarea ul,
header .cvarea_bottom ul{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 12px;
}
header .cvarea_bottom ul{
  margin-top: 0;
  margin-bottom:0;
}
nav.menu_open .cvarea ul li,
header .cvarea_bottom ul li{
  width: 48%;
  height: 46px;
  line-height: 46px;
  border-radius: 100px;
}
.ditail_menu{
  background: #fff;
  padding: 20px;
}
.ditail_menu p{
  line-height: 46px;
  border: 0.5px solid #000;
  background: url(../img/arrow_b.svg)no-repeat right 15px center;
  margin-bottom: 12px;
  padding: 0 10px;
  color: #000;
}
.ditail_menu p.plus01,
.ditail_menu p.plus02,
.ditail_menu p.plus03{
  background: url(../img/plus.svg)no-repeat right 15px center;
}
.ditail_menu p.active{
  background: url(../img/minus.svg)no-repeat right 15px center;
}
.ditail_menu a,
.ditail_menu a:hover{
  display: block;
  color: #000;
}
.ditail_menu ul{
  display: none;
  background: #B3A17C;
}
.ditail_menu ul li{
  line-height: 46px;
  border: 0.5px solid #000;
  border-top:0px;
  margin-bottom: 0px;
  padding: 0 10px;
  background: url(../img/arrow_b.svg)no-repeat right 15px center rgba(255, 255, 255, 0.3);
}
.ditail_menu ul{
  margin-top: -12px;
  margin-bottom: 12px;
}

/* ---FV--- */
#fv {
  height: auto;
  padding-top: -50px;
  margin-top: 50px;
}
.fv_imgarea{
  height: 400px;
}
.fv_imgarea h2 img {
  display: inline-block;
  margin-top: -110px;
  width: 100%;
} 
#news {
  position: inherit;
  margin: auto;
  width: 90%;
  height: auto;
  border: 3px solid #FFECF1; 
  margin-top: 5vw;
}
.news {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border:none;
}
.news_left {
  width: 100%;
  border-top: 0;
  border-right:0;
  height: auto;
  background: #FFECF1;
  float: none;
}
.news_right {
  float: none;
  width: auto;
}
.news_left_inner {
  position: inherit;
  font-size: 14px;
  padding: 5px 0;
}
.news_left_inner p img{
  width: 35px;
  height: auto;
}
.news_right h3 {
  font-size: 14px;
}
.news_right p {
  margin-bottom: 8px;
}

/* ----reason--- */
#reason {
  margin: 60px auto;
}
#reason p.en_title img{
  width: 62px;
  height: auto;
}
.reason_area {
  display:inherit;
}
.reason_box {
  width: 90%;
  height: 240px;
  margin:0 auto 30px;
}
.reason_title {
  margin-top: 50px;
  font-size: 18px;
}
.reason_title+p {
  font-size: 16px;
  margin-top: 15px;
}
#reason p.sp {
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
}
.reason_box .btn {
  bottom: 35px;
}
/* ---campaign---- */
#campaign h2{
  margin-top: 10px;
  margin-bottom: 25px;
}
#campaign p.en_title img{
  width: 82px;
  height: auto;
}
.campaign_imgarea, .slick-slide {
  width: 90%;
  height: 33vw !important;
}
.slick-dots li button:before{
  font-size: 15px!important;
}
.slick-next{
  right: -15px!important;
}
.slick-prev {
  left: -15px!important;
}

/* ----plan--- */
#plan{
  margin:60px auto;
} 
#plan h2{
  margin-top: 10px;
  margin-bottom: 25px;
}
#plan p.en_title img{
  width: 53px;
  height: auto;
}  
.plan_area {
  max-width: 1080px;
  width: 100%;
  height: 490px;
  margin-bottom: 30px;
}
.plan_box_img01, .plan_box_img02 {
  width: 90%;
  height: 240px;
  position: inherit;
  margin: 0 auto;
} 
.plan_box01, .plan_box02 {
  width: 90%;
  height: 280px;
}  
.plan_box_text01, .plan_box_text02 {
  position: absolute;
  right: 0;
  left:0;
  margin: auto;
  top: 50px;
  width: 80%;
  height: 200px;
}
.plan_box_text02{
  width: 85%;
}
.plan_box_title {
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 5px;
} 
.plan_box_title p+p {
  font-size: 14px;
}
.plan_box_title span {
  font-size: 26px;
}
.plan_box_title p {
  line-height: 40px;
}
.plan_box_title+p {
  font-size: 12px;
}
.bnr img {
  width: 90%;
}
/* ----costume--- */
#costume h2{
  margin-top: 5px;
  margin-bottom: 25px;
}
#costume p.en_title img{
  width: 71px;
  height: auto;
} 
.costume_area {
  width: 90%;
  height: auto;
  display: inherit;
  margin: 0 auto;
}
.costume_box01, .costume_box02 {
  width: 100%;
  height: 220px;
  margin-bottom: 30px;
}

.costume_box01 p, .costume_box02 p {
  font-size: 22px;
  top: 70px;
}
.costume_box01 p.btn, .costume_box02 p.btn {
  top:80px;
  bottom: 0;
}
/* ----gallery--- */
#gallery {
  margin: 60px auto 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
#gallery h2{
  margin-top: 10px;
  margin-bottom: 35px;
}
#gallery p.en_title img{
  width: 77px;
  height: auto;
}
.gallery {
  width: 90%;
}
.gallery .list a,
.gallery .list p,
.gallery .list a:nth-child(5){
  width: 30%;
  margin-bottom: 5%;
  margin-right: 5%;
} 
.gallery .list a:nth-child(3),
.gallery .list a:nth-child(6) {
  margin-bottom: 0;
  margin-right: 0;
}
.gallery .list img {
  width: 100%;
  height: auto;
}
.gallery .list p.list_last span{
  font-size: 14px;
}
.cvarea02 {
  width: 90%;
  margin: 30px auto 0;
  display: inherit;
}
.cvarea02 .btn_01, .cvarea02 .btn_02 {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  margin-bottom: 20px;
}
/* ----shop--- */
#shop {
  padding-top: 60px;
  padding-bottom: 60px;
}
#shop h2{
  margin-top: 5px;
  margin-bottom: 25px;
}
#shop p.en_title img{
  width: 109px;
  height: auto;
} 
.shop {
  width: 90%;
  margin: 0 auto;
  display: inherit;
}
.shop_info {
  width: 100%;
  margin-top: 0;
}
.shop_info dd.tel .tel_box p.tel_number, 
.shop_info dd.open {
  font-size: 18px;
}
.map {
  width: 100%;
  height: 240px;
}
.map iframe{
  height: 240px;
}
.staff {
  padding: 40px 0;
  width: 90%;
  display: inherit;
}
.staff p, .staff p a {
  width: 100%;
  height: 150px;
  line-height: 150px;
  margin-bottom: 20px;
} 
.staff p.staff_title {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
/* ----footer_top--- */
#sp_footer_top{
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 12px;
}
#sp_footer_top p{
  font-size: 11px;
  margin-bottom: 20px;
}
#sp_footer_top p img{
  mix-blend-mode:lighten;
  width: 110px;
  height: auto;
}
.footer {
  width: 90%;
} 
.footer .footer_box {
  width: 43%;
  margin-left: 13px;
}
#copyright{
  padding-bottom: 66px;
}
#scrollup {
  bottom: 80px;
}
  }